body {
 font-family: Verdana, sans-serif;
 font-size: 14px;

}

header {
  margin-left: 50px;
}

.container {
 width: 640px;
 float: left;
 padding: 0px;
 margin: 30px;
 /* margin: 20px auto; */

}


h1{
font-size: 30px;
color: white;
margin: 0px 70px;

width:Auto;
height:100px;
/* margin-bottom: 50px; */
border-bottom: 1px solid #ddd;
/*background-color: #CC6666;*/
background-color: #E2AA0C;
font-weight: lighter;
font-family: MS Sans Serif;
padding: 10px 20px;

}


ul {
 list-style-type: none;
 padding-left: 0px;
 margin: 0px;
 width: 600px;
 margin-left: 50px;
 margin-top: 50px;
 /* padding-bottom: 200px; */
}

li {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #696969;
}

ul > li{
 margin-bottom: 5px;

}



main{
  margin-bottom: 8px;

}


main img{
  width: 600px;
  height: 400px;
  vertical-align: bottom;
  margin-left : 50px;
  margin-bottom: 0px;
  margin-top: 30px;


}

/* nav { */
  /* margin-bottom: 8px;
  margin-left: 50px;
} */

nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  margin-left: 50px;
}


nav li {
  width: 80px;
  border: 1px solid #dedede;
  border-radius: 10px;
  font-size: 15px;
  color: #696969;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  margin: 0px;
}

nav li:hover {
  background: #f8f8f8;
}

#play, #pause {
  width: 140px;
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(10, 120px);
  gap: 5px;
  margin: 0px;
  margin-left: 35px;

}

.thumbnails li{
  cursor: pointer;
  opacity: 0.4;
  margin: 0px;
}

.thumbnails li:hover {
  opacity: 1;
}

.thumbnails li.current {
  opacity: 1;
}

.thumbnails img{
  width: 100px;
  vertical-align: bottom;

}

.hidden {
  display: none;
}

.comment {
  float: right;
  width: 640px;
  margin-top: 50px;
  margin-right: 70px;
  color: #696969;

}

input[type="text"], textarea{
  box-sizing: border-box;
  width: 600px;
  padding: 5px;
}

textarea {
  height: 120px;
}

form {
  margin: 70px;
}
/* h2{
  margin: 0px;
} */

.error {
  font-size: 12px;
  color: tomato;
}

.edit {
  font-size: 12px;
}

/* .block{
  padding:20px;
} */

h2{
  text-decoration: underline;　

}

p{
  padding: 0px, 0px;
  margin-left: 40px;
  margin-top: 5px;
}
